body {
  margin-top: 50px;
  background: linear-gradient(
    0deg,
    rgba(255, 151, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
  background-size: cover;
}

.navbar {
  padding-left: 50px;
  padding-right: 100px;
  background: linear-gradient(
    0deg,
    rgba(255, 151, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
  background-size: cover;
}

/*jumbotron*/
#search-box {
  position: relative;
  max-width: 350px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.search-button {
  background-color: black;
  border-width: 1px;
  border-color: white;
}

.jumbotron {
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 300px;
}

.jumbotron h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.form-position {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/*couldn't get bg-image to work in this external css sheet so placed it as an inline style */
.bg-image {
  background-image: url("./assets/Images/screenbg.jpg");
  height: 600px;
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 900;
}

/* search result card*/
.search-para {
  padding-top: 15px;
}

.container {
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  border-right: black 20px;
  color: black;
}

.card {
  margin-top: 100px;
  color: black;
}

.card-image-top {
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.no-gutters {
  padding: 10px;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    360deg,
    rgba(253, 119, 1, 1)    0%,          /* 83%, */
    rgba(255,145,0,1)     83%                      /* (252, 142, 69, 0) 100% */
  );
}

.mod-btn {
  margin: 10px;
}

.button5 {
  border-radius: 30px;
  margin-right: 5px;
}

.button5:hover {
  transform: scale(1.2);
}

.card-body {
  margin: 20px;
  font-weight: 500;
  color: whitesmoke;
}

.card-body h4 {
  color: white;
  font-weight: 900;
}
.card-body p {
  margin: 20px;
}
.click-me {
  background-color: black;
  margin: 10px;
  border-color: white;
  width: 200px;
}
.click-me:hover {
  background-color: #5a5a5a;
  border-color: white;
}

#thumbsUp {
  margin: 20px;
  padding: 10px;

     box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001,
     inset 0px 0px 0px 0px #fff9,
     inset 0px 0px 0px 0px #0001,
     inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
    transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
     border-radius: 10px;
  }

  #thumbsDown {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background: #e0e5ec; 
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
  font-size: 16px;
  color: rgba(42, 52, 84, 1);
  text-decoration: none;
  }

  #thumbsUp:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }

  #thumbsDown:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

.redIcon{
  color: red;
  
}
.greenIcon{
  color:green !important;
}

/* modal param */
.modal-btn {
  background-color: black;
  border-width: 1px;
  border-color: white;
}

.modal-content {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-repeat: no-repeat;
  background-size: cover;
}
