body {
  margin-top: 50px;
}

.navbar {
  padding-left: 50px;
  padding-right: 100px;
  border-radius: 10px;
}

#search-box {
  position: relative;
  max-width: 350px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.search-button {
  background-color: black;
  border-width: 1px;
  border-color: white;
}

.jumbotron {
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 300px;
}

.jumbotron h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.form-position {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/*couldn't get bg-image to work in this external css sheet so placed it as an inline style */
.bg-image {
  background-image: url("./assets/Images/screenbg.jpg");
  height: 600px;
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 900;
}

.search-para {
  padding-top: 15px;
}

.container {
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  border-right: black 20px;
  color: black;
}

#content {
  border-style: double;
}

.card {
  margin-top: 100px;
  color: black;
}

/* modal param */

.modal-btn {
  background-color: black;
  border-width: 1px;
  border-color: white;
}

.modal-content {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-repeat: no-repeat;
  background-size: cover;
}
